[defaults]
inventory = /home/aitouaka/DevOps/projet/IronSec-Labs/eclipse/ansible/inventory/hosts.ini
host_key_checking = False
deprecation_warnings = False
retry_files_enabled = False
roles_path = /home/aitouaka/DevOps/projet/IronSec-Labs/eclipse/ansible/roles

[ssh_connection]
# increase timeout for vagrant/virtualbox
pipelining = True
